@model TaskFlow.Web.ViewModels.Boards.Details.BoardDetailsViewModel
<a asp-controller="Workspaces" asp-action="Details" asp-route-id="@Model.WorkspaceId" class="btn btn-secondary mb-3">
    Voltar para workspace
</a>
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>

<p>
    @Model.Description
</p>

<h3 class="mt-4">Colunas</h3>

<div class="row">
    @foreach (var column in Model.Columns)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    @column.Name
                </div>

                <div class="card-body">
                    Nenhuma tarefa.
                </div>
            </div>
        </div>
    }
</div>

<p>
    <strong>Criado em:</strong>
    @Model.CreatedAt.ToLocalTime().ToString("dd/MM/yyyy HH:mm")
</p>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">
    Editar
</a>

<form asp-action="Delete" method="post" class="d-inline">

    @Html.AntiForgeryToken()

    <input type="hidden" name="id" value="@Model.Id" />

    <input type="hidden" name="workspaceId" value="@Model.WorkspaceId" />

    <button type="submit" class="btn btn-danger" onclick="return confirm('Deseja realmente excluir este quadro?');">
        Excluir
    </button>
</form>